*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

ol, ul {
  list-style: none; }

body {
  font-family: 'Playfair Display', sans-serif; }

.header {
  font-size: 1.3rem; }
  .header__menu-navbar > ul {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif; }
    .header__menu-navbar > ul li {
      font-weight: bold;
      letter-spacing: 0.4rem; }
  .header__title {
    font-family: "Playfair Display"; }
    .header__title h1 {
      font-size: 7.71rem; }
    .header__title h2 {
      font-size: 7.81rem; }
    .header__title p {
      font-size: 1.4rem;
      line-height: 3rem; }

.description-itens > .description-itens__composition h4 {
  font-size: 2.6rem;
  line-height: 36px;
  font-style: normal;
  font-weight: 400; }

.description-itens > .description-itens__composition p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-style: normal;
  font-weight: 500;
  text-align: center; }

.description-itens {
  display: flex;
  max-width: 133rem;
  margin: 0 auto;
  padding: 10rem 3rem;
  justify-content: space-between; }
  .description-itens__composition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2rem; }
    .description-itens__composition h4 {
      color: #222222;
      margin-top: 2rem;
      padding: 0 15px; }
    .description-itens__composition p {
      color: #8d8787;
      margin-top: 1.5rem;
      padding: 0 1rem; }

.header {
  background-image: url(/img/home-slider-1.jpg);
  background-attachment: fixed;
  height: 100vh;
  background-size: cover; }
  .header__logo-text {
    position: absolute;
    top: 3rem;
    left: 4rem; }
  .header__menu-navbar {
    position: absolute;
    top: 4.9rem;
    right: 27rem; }
    .header__menu-navbar ul > li {
      float: left;
      color: #303030;
      transition: .3s; }
      .header__menu-navbar ul > li:not(:last-child) {
        margin-right: 6rem; }
      .header__menu-navbar ul > li:hover {
        color: #b67453;
        cursor: pointer; }
  .header__social-links {
    position: absolute;
    top: 4.8rem;
    right: 16rem; }
    .header__social-links i {
      cursor: pointer; }
      .header__social-links i:not(:last-child) {
        margin-right: 1rem; }
  .header__market-icon img {
    position: absolute;
    top: 4.5rem;
    right: 10rem;
    height: 2rem;
    cursor: pointer; }
  .header__title {
    position: absolute;
    top: 23%;
    left: 20%;
    width: 40%;
    height: 50%; }
    .header__title img {
      margin-bottom: -4rem; }
    .header__title h2 {
      margin-top: -4rem; }
    .header__title p {
      margin-top: 3rem;
      color: #b1a9a5; }
