.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  &__title-products h2 {
    padding-top: 14rem;
    padding-bottom: 3rem;
    color: var(--color-black-light-2);
  }
  &__title-products p {
    color: var(--color-grey-light-2);
  }
}

