// colors

$color-brown-light: #b67453;

$color-black-light-1: #303030;
$color-black-light-2: #222222;

$color-white-light-1: rgba(255, 255, 255, 0);
$color-white-light-2: rgba(255, 255, 255, 1);
$color-white: #ffffff;

$color-grey-light-1: #8d8787;


