// colors
:root {
  --color-brown-light: #b67453;

  --color-black-light-1: #303030;
  --color-black-light-2: #222222;
  --color-white-light-1: rgba(255, 255, 255, 0);
  --color-white-light-2: rgba(255, 255, 255, 1);
  --color-white: #ffffff;

  --color-grey-light-1: #8d8787;
  --color-grey-light-2: #817d7d;
}
$bp-big-largest: 87.5em; // 1400px
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-large-1: 56.2em; // 900px
$bp-medium: 50em;  // 800px
$bp-small: 37.5em; // 600px

