.description-itens {
  display: flex;
  max-width: 133rem;
  margin: 0 auto;

  padding: 10rem 3rem;

  justify-content: space-between;

  &__composition  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;

    h4 {
      color: $color-black-light-2;
      margin-top: 2rem;
      padding: 0 15px;
    }
    
    p {
      color: $color-grey-light-1;
      margin-top: 1.5rem;
      padding: 0 1rem;
    }
  }
}


