.description-itens {
  // display: flex;
  // padding: 10rem 11rem;

  @media only screen and (max-width: 75em){
    left: 2rem;
  }

  justify-content: space-between;
  &__product {
    margin-right: 2rem;
    h4 {
      color: var(--color-grey-light-2);
      margin-top: 2rem;
      padding: 0 15px;
    }

    p {
      color: var(--color-grey-light-1);
      margin-top: 1.5rem;
      padding: 0 6rem;
      @media only screen and (max-width: 75em){
        height: 110rem;
      }
    }
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
