.description-itens {
  // display: flex;
  // padding: 10rem 11rem;
  // --bp-big-largest: 87.5em; // 1400px
  // --bp-largest: 75em; // 1200px
  // --bp-large: 62.5em; // 1000px
  // --bp-medium: 50em;  // 800px
  // --bp-small: 37.5em; // 600px
  // @media only screen and (max-width: 75em){
  //   padding-left: 18rem;
  //   padding-right: 18rem;
  //   flex-wrap: rap;
  //   color: red;
  //   width: 33rem;
  // }


  // display: flex;
  // padding: 10rem 3rem;

  @media only screen and (max-width: 75em){
    left: 2rem;
    flex-wrap: wrap;
  }

  justify-content: space-between;
  &__product {
    margin-right: 2rem;
    h4 {
      color: var(--color-grey-light-2);
      margin-top: 2rem;
      padding: 0 15px;
    }

    p {
      color: var(--color-grey-light-1);
      margin-top: 1.5rem;
      padding: 0 6rem;
      @media only screen and (max-width: 75em){
        height: 110rem;
      }
    }
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
