.newsletter .newsletter__boxnews  h2 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 4.8rem;
  line-height: 5.8rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  text-align: center;
}
.newsletter .newsletter__boxnews input {
  font-family: Montserrat;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0;
  text-transform: none;
}
.newsletter .newsletter__boxnews button {
  font-family: Montserrat;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  line-height: 5.9rem;
}

