body {
  font-family: 'Playfair Display', sans-serif;
}

// header
.header {
  font-size: 1.3rem;
  &__menu-navbar > ul {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;

    li {
      // font-size: 1.3rem;
      font-weight: bold;
      letter-spacing: 0.4rem;
    }
  }
  &__title {
    font-family: "Playfair Display";
    h1 {
      font-size: 7.71rem; 
    }

    h2 {
      font-size: 7.81rem;
    }

    p {
      font-size: 1.4rem;
      line-height: 3rem;
    }
  }
}

// section 1

.description-itens > .description-itens__composition {
  h4 {
    font-size: 2.6rem;
    line-height: 3.6rem;
    font-style: normal;
    font-weight: 400;
  }
  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-style: normal;
    font-weight: 500;
    text-align: center;
  }
}
// Newsletter
.newsletter .newsletter__boxnews  h2 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 4.8rem;
  line-height: 5.8rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  text-align: center;

}
.newsletter .newsletter__boxnews input {
  font-family: Montserrat;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0;
  text-transform: none;
}
.newsletter .newsletter__boxnews button {
  font-family: Montserrat;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  line-height: 5.9rem;
}

// products

.products > .products__title-products h2 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 4.8rem;
  line-height: 5.8rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  text-align: center;
}
.products > .products__title-products > p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
  line-height: 3rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
  text-transform: none;
} 
